<nav class="navbar bg-body-tertiary nav_principal">
  <div class="container-fluid">
    <a class="navbar-brand titulo" href="#">CENCOE</a>
    <div class="caja_login">
      <button class="btn btn-secondary boton_usuario">C</button>
    </div>
  </div>
</nav>
<div class="caja_principal">
  <div class="caja_secundaria">
    <i class="fa-solid fa-bars icono_menu"></i>
    <div class="iconos_tramites">
      <i class="fa-solid fa-user"></i>
      <i class="fa-solid fa-users"></i>
      <i class="fa-solid fa-house"></i>
      <i class="fa-solid fa-gears"></i>
    </div>
  </div>
</div>