<div class="caja_principal">

    <div class="g-col-3 g-start-2">
        <h1>
            Creación de Campañas</h1>
        <form action="procesar_formulario.php" method="post">
            <label for="nombre_campaña">Nombre de la Campaña:</label>
            <input type="text" id="nombre_campaña" name="nombre_campaña" required>

            <label for="fecha_inicio">Fecha de Inicio:</label>
            <input type="date" id="fecha_inicio" name="fecha_inicio" required>

            <label for="fecha_fin">Fecha de Finalización:</label>
            <input type="date" id="fecha_fin" name="fecha_fin" required>

            <label for="objetivo">Objetivo de la Campaña:</label>
            <textarea id="objetivo" name="objetivo" rows="4" required></textarea>

            <label for="presupuesto">Grupo:</label>

            <input type="text" id="grupo" name="grupo" required>

            <input type="submit" value="Enviar">

        </form>

    </div>
    <div class="g-col-3 g-start-6">
        <h1>
            Campañas</h1>
        <form action="procesar_formulario.php" method="post">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  <div class="caja_principal">
                    <input type="text" id="nombre_campaña" name="Nombre de la Campaña:" required>
                    <input type="text" id="nombre_campaña" name="Fecha de Inicio:" required>
                    <input type="text" id="nombre_campaña" name="Fecha de Finalización:" required>
                    <input type="text" id="nombre_campaña" name="Objetivo de la Campaña:" required>
                  </div>
            </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                  <div class="caja_principal">
                    <input type="text" id="nombre_campaña" name="Nombre de la Campaña:" required>
                    <input type="text" id="nombre_campaña" name="Fecha de Inicio:" required>
                    <input type="text" id="nombre_campaña" name="Fecha de Finalización:" required>
                    <input type="text" id="nombre_campaña" name="Objetivo de la Campaña:" required>
                  </div>
            </label>
            </div>
            <input type="submit" value="Modificar">
        </form>



    </div>
